@import "prueba.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}
#prueba {
    background-color: aquamarine;
    width: 250px;
    height: 150px;
    border: 2px dashed black;
    margin:auto;
    padding: 20px;
    border-radius: 30px;
    overflow: auto;
    text-align: center;
}

#prueba:hover {
    background-color: aquamarine;
    width: 350px;
    height: 250px;
    border: 2px dashed black;
    margin:auto;
    padding: 20px;
    border-radius: 30px;
    overflow: auto;
    text-align: center;
}

.Links{
    display: inline-block;
    margin-top: 50px;
    color: red;
}
/* Estilos para los mensajes de validación en Chrome y Safari */
input:invalid {
    border-color: red; /* Cambia el color del borde del campo no válido */
  }
.fondo-imagen {
    background-image: url(/assets/Fotos/Logo.webp); /* Ruta de tu imagen */
    background-size: cover;
    background-position: top;
    position: relative; /* Necesario para que los elementos hijos se superpongan */
    min-height: 100vh; /* Opcional: ajusta la altura al tamaño de la ventana */
    opacity: 0.5; /* Opacidad de la imagen */
    top:0;
}

header,
main,
footer {
  position: relative; /* Para que se superpongan en la imagen de fondo */
  /* Puedes añadir estilos adicionales según tus necesidades */
}

body, html {
    margin: 0;
    padding: 0;
  }

header {
    text-align: center;
    height: 50px;
    background-color: black;
    opacity: 10px;
}

.header {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 25px;
}


