/* Estilos de modales */

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.error {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.exito {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-content h2 {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

.error h2 {
  color: #d32f2f;
}

.exito h2 {
  color: #4caf50;
}

.modal-content img {
  height: 30%;
  display: block;
  margin: 0 auto;
}

.modal-content p {
  text-align: center;
  margin-top: 20px;
}




