

.fondo-reserva {
  background-image: url('/assets/image/fondoAltaHuesped.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-left: 50px;
  position: relative;
}

.fondo-reserva.opaco::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  opacity: 1;
  z-index: 1;
}

.fondo-reserva > * {
  position: relative;
  z-index: 2;
}

.enlace-volver {
    position: fixed;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    font-size: 24px;
    color: #64443a;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.enlace-volver:hover {
    background-color: rgba(255, 255, 255, 1);
}

