.container1{
    display: flex;
    flex-direction: column;
}


.contenedorGrande{
    display: none;
}
.option {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.option img {
    --tamanioP: 40px;
    width: 100%;
    height: 70%;
}

.option p {
    margin: 0;
    padding: 10px;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
}

.option:hover {
    transform: scale(1.05);
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.converter {
    margin-top: 20px;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.base-container {
    margin-bottom: 10px;
    text-align: left;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#pasos p {
    margin-top: 20px;
    font-size: 1.5em;
}

.contenedorGrande{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    gap: 10px;
}

.grid-container .grid-item {
    padding: 5px;
    text-align: center;
}

.grid-container  .divisor {
    /* background-color: lightgreen; */
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.grid-container .operaciones {
    text-align: left;
}

.grid-container p{
    margin: 0;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace; /* Fuente monoespaciada */
    letter-spacing: 2px; /* Separación entre caracteres */
    text-align: left; /* Centra el texto dentro del contenedor */
    white-space: pre-wrap; 
}

#pasos {
    margin-bottom: 50px;
    white-space: pre-wrap;
}


@media (min-width: 700px) {
    body {
        width: 100vw;
        margin:0;
    }
    .option{
        margin: 1vw;
    }
    .options{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        height: 80vh;
        overflow: scroll;
    }
    .container1 h1{
        width: 100vw;
        text-align: center;
        margin-top: 0;
        height: 5vh;
    }
    .container1{
        height: 100vh;
        justify-content: center;
    }
    .flechaHaciaAtras {
        display: none;
        position: fixed;
        width: 5%;
        height: 10%;
        top:5%;
        left:5%;
        border-radius: 2px solid black;
    }
    #checkbox{
        position: absolute;
        bottom: 5%;
        left: 5%;
        display: flex;
    }
    .container2{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 90%;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0 0px 8px rgba(0, 0, 0, 1);
        border-radius: 3%;
    }
    .container2 .options {
        height: auto;
    }
}

@media (max-width: 700px) {
    body {
        margin:0;
    }
    .option{
        margin: 1vh;
    }
    .options{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container1 h1{
        width: 100vw;
        text-align: center;
        margin-top: 5vh;
    }
    .flechaHaciaAtras {
        --tamanioFlecha: 50px;
        display: none;
        position: fixed;
        width: var(--tamanioFlecha);
        height: 80px;
        top:2%;
        left: 10px;
    }
}

table {
    width: 30%;
    height: 100%;
    border-collapse: collapse;
}

th, td {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    width: 1%;
    height: 1%;
}

td {
    min-width: 50px;  /* Ancho mínimo para cada celda */
    min-height: 50px; /* Alto mínimo para cada celda */
}
