table {
    width: 30%;
    height: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 1%;
    height: 1%;
}

td {
    min-width: 50px;  /* Ancho mínimo para cada celda */
    min-height: 50px; /* Alto mínimo para cada celda */
}
