/* Estilos de botones */
.boton-general {
    padding: 10px 20px;
    background-color: #00e1f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.boton-guardar {
    grid-column: span 2;
    padding: 12px;
    background-color: #49312a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-guardar:hover {
    background-color: #6d4c41;
}

.boton-borrar {
    grid-column: span 2;
    padding: 12px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-borrar:hover {
    background-color: #b71c1c;
}

.boton-cancelar {
    grid-column: span 2;
    padding: 12px;
    background-color: #6d4c41;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-cancelar:hover {
    background-color: #49312a;
}

.boton-error {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.boton-advertencia {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #ffeb3b;
    color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.boton-pregunta {
    display: block;
    padding: 10px 20px;
    background-color: #00e1f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

