/* Estilos base y reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  transition: width 0.5s, height 0.5s;
}

h1, h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #4b372e;
  font-size: 24px;
}

.hidden {
  display: none;
}

