

.boton-buscar {
    width: 100%;
    background-color: #64443a;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-buscar:hover {
    background-color: #49312a;
}

.boton-siguiente {
    width: 30%;
    height: 7%;
    background-color: #412c26;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    transition: background-color 0.3s ease;
}

.boton-siguiente:hover {
    background-color: #49312a;
}

