/* Estilos de imagen de fondo y layout principal */

.imagen-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

.contenedor-principal {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    transition: width 0.5s, height 0.5s;
}

.enlace-volver {
    position: fixed;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    font-size: 24px;
    color: #64443a;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.enlace-volver:hover {
    background-color: rgba(255, 255, 255, 1);
}

