

.fondo-reserva {
  background-image: url('../../assets/image/fondoAltaHuesped.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo-reserva.opaco::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  opacity: 1;
  z-index: 1;
}

.fondo-reserva > * {
  position: relative;
  z-index: 2;
}






