/* Estilos de botones */
.boton-autenticar {
    width: 100%;
    background-color: #64443a;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.boton-autenticar:hover {
    background-color: #49312a;
}

.boton-autenticar:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

