/* Estilos de contenedor de fondo y overlay */
.contenedor-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/image/fondoAltaHuesped.webp');
    background-size: cover;
    background-position: center;
    position: relative;
}

