/* Estilos de modales */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.contenido-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-modal {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}

.titulo-modal-error {
    color: #d32f2f;
}

.titulo-modal-exito {
    color: #2fd345;
}

.imagen-modal {
    height: 30%;
    display: block;
    margin: 0 auto;
}

.mensaje-modal {
    text-align: center;
    margin-top: 20px;
}

.boton-modal {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.boton-modal-error {
    background-color: #d32f2f;
}

.boton-modal-exito {
    background-color: #2fd345;
}

.contenido-modal-exito {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-modal-exito .titulo-modal {
    color: #2fd345;
}

.contenido-modal-exito .boton-modal {
    background-color: #2fd345;
}

